{% extends "layout.html" %}
{% block content %}
<div class="barlow">
	<div class="center-container" style="font-style: normal;">	
		<h1>
			The Mission
		</h1>
	</div>
	<div>
		<p class='text-container'>
			We aim to educate users on the distinction between recyclable and non-recyclable items and the importance of recycling by using our competencies in research and Machine Learning to build a model that implements both object detection and classification, embedded into a user-friendly application.
		</p>
	</div>
</div>
{% endblock content %}