{% extends "layout.html" %}
{% block content %}
<div class="barlow">
	<div class="center-container" style="font-style: normal;">	
		<h1>
			Why Should We Recycle?
		</h1>
	</div>
	<div>
		<p class='text-container'>
			Out of 6.3 billion metric tons of plastic waste produced in the last six decades, only nine percent has been recycled. The rest is either accumulating in landfills or are discarded in the ocean. The United States is one of the largest producers of non-recyclable waste. Following China, US produces the highest amount of plastic waste. Based on USEPA, the U.S. plastic recycling rate has decreased  from 9.1% in 2015 to 4.4% in 2018, and estimated to drop to 2.9% in 2019. The following graph depicts plastic production and how it has been treated. 
			Over the years, recycling has become more tedious and difficult. While many organizations hire people to manually sort recyclables items from landfills, toxic waste materials continue to collect and pollute the environment and create health issues. Contamination is also a persistent issue that makes the recycling process longer. Items such as plastic bags, wires, and organic matter (food and liquid) are common examples of contaminated products found with recyclables. When the contaminated products are in contact with recyclable material, it degrades the quality of the entire batch.
		</p>

		<p class='text-container'>
			With the project, our team has decided to implement machine learning techniques to improve the process of classifying items from waste and encourage users to recycle. There has been significant work that has already been done on this topic. In 2016 TechCrunch Disrupt Hackathon a team created “AutoTrash”, an auto-sorting trash can that can distinguish between compost and recycling using a Raspberry Pi powered module and camera; Yang and Thung used two models: Support Vector Machine (SVM) and  Convolutional Neural Network (CNN) to classify items into six classes.
		</p>

		<p class='text-container'>
			After building the detection and classification model for recycling we will embed the model into a mobile app. There are also similar applications that have been built to promote recycling. “Recycle Nation (United States)” is a location-based mobile app that allows users to choose from 15 categories that list more than 2,500 items helping to determine what can and cannot be recycled.” “RecycleSmart (Australia)” is the most comprehensive recycling mobile app in Australia, which allows users to select their council from over 500 Australian councils and find the nearest recycling drop-off sites and special waste facilities.” We will be referencing previous research, projects, and mobile apps to build a detection and classification app that educates and encourages users to recycle and ultimately improve recycling practices around the world.
		</p>
	</div>
</div>
{% endblock content %}