{% extends "layout.html" %}
{% block content %}
<div class="barlow">
	<div href='/blue' class="center-container" style='color: #000000;'>	
		<h1>
			Blue
		</h1>
	</div>
	<div style='width: 1000px; margin: 0 auto'>
		<ul>
		     <li>Newspaper</li>
		     <li>Cardboard</li>
		     <li>Egg Cartons</li>
		     <li>Envelopes</li>
		     <li>Magazine</li>
    	</ul>
    	<h3>
    		Recyclablity
    	</h3>
    	<p class='text-container'>
    		It is easy to contaminate paper, so be careful and not to mix it with plastic. Recycling collectors often require that cardboard boxes are flattened before recycling. However, corrugated cardboard and paperboard can't always be recycled. Pizza boxes and other food containers are often contaminated with grease, rendering them useless for recycling. Other cardboard containers are coated with wax or other substances to give them more strength when wet—these usually can't be recycled, either.
    	</p>
    	<h3>
    		Impact
    	</h3>
    	<p class='text-container'>
    		Every ton of paper recycled saves 3.3 cubic yards of landfill space. Based on weight measurements, paper is recycled nearly three times as often as it is sent to landfills, making paper the most recycled material in the municipal solid waste stream.
    	</p>
    </div>
{% endblock content %}