{% extends "layout.html" %}
{% block content %}
<div class="barlow">
	<div href='/green' class="center-container" style='color: #000000;'>	
		<h1>
			Green
		</h1>
	</div>
	<div style='width: 1000px; margin: 0 auto'>
		<ul>
			<li>Plastic Bottles</li>
      		<li>Aluminum Cans</li>
      		<li>Glass Bottles</li>
		</ul>
		<h3>
    		Recyclablity
    	</h3>
    	<p class='text-container'>
    		Rinse and clear out the plastic bottles and cans. The food and drink residue will contaminate the recyclable products. Don’t put dishware, light bulbs, heat resistant glass (Pyrex), mirror glass, window glass, crystal, or computer screen glass in your recycling bins — they can damage the furnace and cause impurities in new containers.
			You can also return plastic bags to labeled receptacles, widely available at grocery and retail outlets. 
			Look for curbside, school, or work recycling bins or find a local recycling drop-off center — and be sure to check local recycling ordinances. In some states, beverage containers have a deposit refund and can be returned to the store where they were purchased.
    	</p>
    	<h3>
    		Impact
    	</h3>
    	<p class='text-container'>
    		For every ton of glass that is recycled, over one ton of natural resources are saved — including sand, soda ash, limestone, and feldspar. Using recycled glass cuts energy costs and reduces greenhouse gas emissions. Aluminum is infinitely recyclable. Recycling a can takes just 5% of the energy and emits a mere 5% of the greenhouse gases that making one from scratch does.
    	</p>
    </div>
{% endblock content %}