{% extends "layout.html" %}
{% block content %}
<div class="barlow">
	<div href='/orange' class="center-container" style='color: #000000;'>	
		<h1>
			Orange
		</h1>
	</div>
	<div style='width: 1000px; margin: 0 auto'>
		<ul>
			<li>Food</li>
		    <li>Fruit</li>
		    <li>Vegetables</li>
		    <li>Plant</li>
		    <li>Fruit Peels</li>
		    <li>Flowers</li>
		</ul>
		<h3>
    		Recyclablity
    	</h3>
    	<p class='text-container'>
    		If you have a yard, food scraps can be added to a compost pile outdoors along with other organic waste.  You can make compost by following the given steps:
    		<ul class='text-container'>
    			<li>
    				Combine brown and green items:
					Dried leaves, cardboard, newspaper are brown items that you can mix with plants and animals.
				</li>
				<li>
					Water your pile:
					Sprinkle water on your pile but don’t water it too much otherwise the microorganisms in the pile will become waterlogged.
				</li>
				<li>
					Stir your pile:
					You should provide the pile with oxygen by turning it once a week with a garden fork. The best time to turn the compost is when the center of the pile feels warm.
				</li>
				<li>
					Feed your Garden:
					When the compost no longer gives off heat and becomes dry, brown, and crumbly, it's fully cooked and ready for your garden.
				</li>  
    		</ul>
    	</p>
    	<h3>
    		Impact
    	</h3>
    	<p class='text-container'>
    		By composting your food scraps, you can keep them out of landfills and allow them to enrich your soil and make more sustainable use of the scraps. 
    	</p>
    </div>
{% endblock content %}