{% extends "layout.html" %}
{% block content %}
<div class="barlow">
	<div href='/purple' class="center-container" style='color: #000000;'>	
		<h1>
			Purple
		</h1>
	</div>
	<div style='width: 1000px; margin: 0 auto'>
		<ul>
			<li>Phones</li>
	      	<li>Keyboards</li>
	      	<li>Headphones</li>
	      	<li>Laptops</li>
	      	<li>Headphones</li>
	      	<li>Speakers</li>
		</ul>
		<h3>
    		Recyclablity
    	</h3>
    	<p class='text-container'>
    		When recycling phones and computers, always clear your personal data. Be sure to check your local ordinances for specific instructions — this category is easily contaminated with incorrect preparation or the wrong materials.
    		You can find locations and company that are recycling. <a href='http://www.eiae.org/'>The TIA E-Cycling Central</a>
    	</p>
    	<h3>
    		Impact
    	</h3>
    	<p class='text-container'>
    		Electronic waste from equipment of all sizes includes dangerous chemicals like lead, cadmium, beryllium, mercury, and brominated flame retardants. When we dispose of gadgets and devices improperly, these hazardous materials have a high risk of polluting the air, contaminating the soil, and leaching into water sources.
    	</p>
    </div>
{% endblock content %}