{% extends "layout.html" %}
{% block content %}
<div class="barlow">
	<div href='/red' class="center-container" style='color: #000000;'>	
		<h1>
			Red
		</h1>
	</div>
	<div style='width: 1000px; margin: 0 auto'>
		<ul>
			<li>Plastic Straws</li>
	      	<li>Toilet Paper</li>
	      	<li>Batteries</li>
	      	<li>Light Bulbs</li>
	      	<li>Plastic Bags</li>
	      	<li>Lamp</li>
	      	<li>Mirrors</li>
	      	<li>Paper Plates</li>
	      	<li>Plastic Spoons &amp; Fork</li>
		</ul>
    	<h3>
    		Impact
    	</h3>
    	<p class='text-container'>
    		Reduce the amount of waste you have to bring to your house by carrying cloth bags instead of plastic. Always reuse, recycle and donate when possible. You can reuse containers, boxes and bags. Donate clothes, electronics, furniture to thrift stores, donation center and homeless shelters.
    	</p>
    </div>
{% endblock content %}